:host {
    --cardTitle: var(--title);
    --cardTextSize: 20px;
    --cardColorHover: #53120d;
}


.content {
    position: absolute;
    top: 0;
    left: 100px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 75vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 300px;
    width: min(1080px, 100%);
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.card {
    font-family: Georgia, serif;
}

.card-content {
    position: absolute;
    background-color: rgba(255, 160, 51, 0.185);
    opacity: 0.5;
    transition: .5s;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 25px;

}

.contact {
    opacity: 1;
    font-size: 32px;
    font-weight: bold;
}

.card:hover .contact {
    opacity: 0;
}

.card:hover .contact-info {
    background-color: var(--cardColorHover);
    color: aliceblue;
    opacity: 1;
}


.contact:hover {}

.contact-info {
    opacity: 0;
}

.card::after {}

.sectionText {
    position: absolute;
    width: 50vw;
    background-color: aqua;
    z-index: 2;
}