*{
    user-select: none;
    /* -webkit-user-drag: none; */
}

.nav-bar {
    /* display: flex;
    flex-direction: column;
    gap: 300px; */
    margin-left: 20px;
    /* top: 50%; */
    /* position: absolute; */
    max-width: 150px;
    
}

.nav-bar-navigation-buttons {
    display: flex;
    flex-direction: column;
    /* gap: 5vh; */
    align-items: center;
    justify-content:space-evenly;
    margin-top: 5vh;
    height: 70vh;
    /* margin-top: 200px; */
    /* top: 50%; */
}

/* .home-btn {
    position: absolute;
    top: 40px;
    left: 40px;
} */